/* suit폰트 cdn방식으로 import 이후 body에 적용 */
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SUIT", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: 0;
  min-width: 375px;
  max-width: 768px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
.gutter {
  gap: 12px;
}

@layer utilities {
  /* IE의 경우 */
  input::-ms-clear,
  input::-ms-reveal {
    opacity: 0;
    position: absolute;
    right: 0;
  }

  /* 크롬 및 WebKit 기반 브라우저에서 */
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    opacity: 0;
    position: absolute;
    right: 0;
  }
}
